.heder-container{
  display: flex;
  justify-content: center;
  align-items: center;
}



.header{
  padding: 20px;
  background-color: rgb(56, 6, 6);
  color:white;
  justify-content: center;
  position: sticky;
  font-size: 2rem;
  text-align: center;
  z-index: index 999;
}